    @import url("../main.css");
    @import url("./paginator.css");
    table {
        margin-top: 1%;
        width: 65%;
        margin-left: 15%;
        transition: opacity .3s;
    }
    
    .td1 {
        width: 20%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 1%;
    }
    
    .td2 {
        width: 70%;
    }
    
    .td3 {
        width: 10%;
    }
    
    .search-cont {
        margin-left: 1%;
        margin-bottom: 0%;
        margin-top: 1%;
    }
    
    .search-inp {
        width: 15rem;
        font-size: 1.3rem;
    }
    
    .search-btn {
        font-size: 1.2rem;
    }
    
    .play-btn {
        border-radius: 10%;
        width: 80%;
        background-color: #ffa357;
        height: 3rem;
        font-size: 1.8rem;
    }